/* yellow: #fac342 */
/* dark green: #015943 */
/* marron: #ab166c */

body {
    background: url('../images/jungle-background.gif');
    background-repeat: no-repeat;
    background-position:center;
    background-color: #015943;
}

h1, h3 {
    color: #015943;
    text-shadow: 3px 3px 3px #eeeeee;
}

button {
    background-color: #015943;
    color: #eeeeee;
    border: 2px outset #eeeeee;
}

.container {
  width: 1252px !important;
  max-width: 1252px !important;
  text-align: center;
}

@media (min-width: 1px) {
  .container {
    width: 1252px !important;
    max-width: 1252px !important;
  }
}

#game-page {
    width: 1252px;
}

.setup-container {
  display: inline-block;
  width: 230px;
  margin-top: 140px;
  margin-right: 40px;
  vertical-align: top;
}

.ship-container {
  height: 240px;
  width: 220px;
  border: 1px solid #015943;
  text-align: center;
  background: rgb(159, 171, 18);
}

.ship {
  position: relative;
  z-index: 10;
  height: 38px;
  background-repeat:no-repeat;
  margin: 10px;
}

.sunk-ship {
  height: 38px;
  background-color: #cc3118;
  background-repeat: no-repeat;
  margin: 10px;
}

#carrier {
  width: 190px;
  background-image: url(../images/carrier.gif);
}

#carrierOpponent {
  display: none;
  width: 190px;
  background-image: url(../images/carrier.gif);
}

#battleship {
  width: 150px;
  background-image: url(../images/battleship.gif);
}

#battleshipOpponent {
  display: none;
  width: 150px;
  background-image: url(../images/battleship.gif);
}

#cruiser {
  width: 110px;
  background-image: url(../images/cruiser.gif);
}

#cruiserOpponent {
  display: none;
  width: 110px;
  background-image: url(../images/cruiser.gif);
}

#destroyer {
  width: 110px;
  background-image: url(../images/destroyer.gif);
}

#destroyerOpponent {
  display: none;
  width: 110px;
  background-image: url(../images/destroyer.gif);
}

#patrol {
  width: 70px;
  background-image: url(../images/patrol.gif);
}

#patrolOpponent {
  display: none;
  width: 70px;
  background-image: url(../images/patrol.gif);
}

.placementBtn {
  margin-top: 10px;
}

.board {
  display: inline-block;
  width: 400px;
}

.barrier {
  display: inline-block;
  height: 380px;
  width: 10px;
  background-color: #015943;
}

.cell {
  height: 40px;
  width: 40px;
  border: 1px solid #015943;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  background: rgb(159, 171, 18);
}

.lvl-over {
  /* applied to a drop target when a draggable object is over it */
  border: 1px dashed #cc3118 !important;
}

.targetCell:hover {
    cursor: pointer;
    background-color: #c7d57e;
}

.hit {
    background-color: #cc3118;
}

.hit:hover {
    background-color: #cc3118;
}

.miss {
    background-color: #fac342;
}

.miss:hover {
    background-color: #fac342;
}

.messages {
  color: #015943;
  text-shadow: 3px 3px 3px #eeeeee;
}
