.container {
  width: 1400px !important;
  max-width: 1400px !important;
  text-align: center;
}

@media (min-width: 1px) {
  .container {
    width: 1400px !important;
    max-width: 1400px !important;
  }
}

#game-page {
    width: 1370px;
    margin-top: 50px;
}

.setup-container {
  display: inline-block;
  width: 230px;
  margin-top: 140px;
  margin-right: 40px;
  vertical-align: top;
}

.ship-container {
  height: 240px;
  width: 220px;
  border: 1px solid black;
  text-align: center;
}

.ship {
  position: relative;
  z-index: 10;
  height: 36px;
  background-repeat:no-repeat;
  margin: 10px;
}

.sunk-ship {
  height: 36px;
  background-color: red;
  background-repeat: no-repeat;
  margin: 10px;
}

#carrier {
  width: 190px;
  background-image: url(../images/carrier.gif);
}

#carrierOpponent {
  display: none;
  width: 190px;
  background-image: url(../images/carrier.gif);
}

#battleship {
  width: 150px;
  background-image: url(../images/battleship.gif);
}

#battleshipOpponent {
  display: none;
  width: 150px;
  background-image: url(../images/battleship.gif);
}

#cruiser {
  width: 110px;
  background-image: url(../images/cruiser.gif);
}

#cruiserOpponent {
  display: none;
  width: 110px;
  background-image: url(../images/cruiser.gif);
}

#destroyer {
  width: 110px;
  background-image: url(../images/destroyer.gif);
}

#destroyerOpponent {
  display: none;
  width: 110px;
  background-image: url(../images/destroyer.gif);
}

#patrol {
  width: 70px;
  background-image: url(../images/patrol.gif);
}

#patrolOpponent {
  display: none;
  width: 70px;
  background-image: url(../images/patrol.gif);
}

.placementBtn {
  margin-top: 10px;
}

.board {
  display: inline-block;
  width: 400px;
}

.barrier {
  display: inline-block;
  height: 380px;
  width: 10px;
  background-color: black;
}

.cell {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  font-size: 25px;
}

.lvl-over {
  /* applied to a drop target when a draggable object is over it */
  border: 1px dashed red !important;
}

.targetCell:hover {
    cursor: pointer;
    background-color: yellow;
}

.hit {
    background-color: red;
}

.hit:hover {
    background-color: red;
}

.miss {
    background-color: blue;
}

.miss:hover {
    background-color: blue;
}

.messages {
  color: blue;
}
