.container {
  width: 1400px !important;
  max-width: 1400px !important;
  text-align: center;
}

@media (min-width: 1px) {
  .container {
    width: 1400px !important;
    max-width: 1400px !important;
  }
}

#game-page {
    width: 1370px;
    color: red;
    margin-top: 50px;
}

.ship-container {
  display: inline-block;
  height: 240px;
  width: 220px;
  border: 1px solid black;
  text-align: center;
  vertical-align: top;
  margin-top: 100px;
  margin-right: 20px;
}

.ship {
  height: 36px;
  background-color: white;
  background-repeat:no-repeat;
  margin: 10px;
}

#carrier {
  width: 190px;
  background-image: url(../images/carrier.gif);
}

#battleship {
  width: 150px;
  background-image: url(../images/battleship.gif);
}

#cruiser {
  width: 110px;
  background-image: url(../images/cruiser.gif);
}

#destroyer {
  width: 110px;
  background-image: url(../images/destroyer.gif);
}

#patrol {
  width: 70px;
  background-image: url(../images/patrol.gif);
}

.board {
  display: inline-block;
  width: 400px;
}

.barrier {
  display: inline-block;
  height: 380px;
  width: 10px;
  background-color: black;
}

.cell {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  font-size: 25px;
}

.lvl-over {
    /* applied to a drop target when a draggable object is over it */
    border: 1px dashed red !important;
}
