<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">ss14 team 113</h3>
</div>

<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!</a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div> -->
<!--  <div ng-controller="MainCtrl">
       <li ng-repeat="player in players">
          <span class="candidate-{{player.available}}">{{player}}</span>
      </li>
</div>
<form>
    <input type="text" name="input" ng-model="text"
                          ng-pattern="word" required ng-trim="false">
    <tt>text = {{text}}</tt><br/>
</form> -->

<div id="chooseNameDiv">
<h3>Enter Your Name</h3>
    <input type="text" ng-model="user.name" placeholder="Player Name">
<!--     <input type="text" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Message..."> -->
    <button ng-click='addPlayer()'>This Is My Name</button>
    <!-- {{user.name}} -->
</div>

<!-- <div ng-repeat="player in players | filter: {status: 'available'}">{{player.name}}</div> -->

<div id="playersDiv" ng-show="showPlayerDiv" ng-model='whatevs'>
  <h3>{{user.name}}, choose Your Opponent</h3>
  <form name='myForm'>
    <div ng-repeat="player in players" ng-hide="player.name == user.name">
      <input type='radio' name='playerline' ng-model='opponent' value='player.name' ng-change='opponentList(player.name)'> <!-- id is {{player.name}} -->
      <em>{{player.name}}</em>: {{player.status}}
    </div>
  </form>

</div>

<div id="startGameDiv">
  <h3>Your Status: {{lobbystatus}}</h3>

  <div ng-show='showCancelRequest'>
    <button>Cancel Request</button>
  </div>

  <div ng-show='showStartGame'>
    <button>Start Game</button>
  </div>

</div>